extends layout

block content
  h1= title
  ul
    each user in users
      li
      div(class='starline')
        div(class='starlineuser') #{user.user} - #{user.counter}
        div(class='starlineplus')
          form(method='POST' action='/users/plus/' + user.id)
            button.btn.btn-primary(type='submit' class='iconbutton plusbutton')
        div(class='starlineminus')
          form(method='POST' action='/users/minus/' + user.id)
            button.btn.btn-primary(type='submit' class='iconbutton minusbutton')
