extends layout

block content
  h1= title
  ul
    each user in users
      li #{user.user} - #{user.counter}
        form(method='POST' action='/users/plus/' + user.id)
          button.btn.btn-primary(type='submit') Plus
        form(method='POST' action='/users/minus/' + user.id)
          button.btn.btn-primary(type='submit') Moins
